/*hexadecimal color palatte
Dark Green: #34590F;
Bright Green: #5F9628;
Reference Blue: #4B5FAF;
Enchilada Red: #AD3C1A;
Fiesta Orange: #E25A31;

Bright Blue: #6C89FB;
Light Blue: #B7C5FB;
Darker Blue: #35437C;

Media Query breakpoints:
xs < 544px
sm = 544px -> 768px
md = 768px -> 992px
lg > 992px

*/

body {
	background-color: #4B5FAF;
	font-family: 'Ubuntu', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

h3 {
	font-weight: 500;
	color: white;
}

/* Header Styles */

header {
	background-color: #35437C;
	padding: 0px;
	height:	72px;
	overflow: hidden;
}

#logo {
	margin: -2px 0px -8px 0px;
	height: 76px;
}

#logo_ds {
	margin: -8px 0px 0px -16px;
	height: 96px;
}

#desc {
	margin-top: 12px;
	font-weight: 300;
	font-size: 1.25em;
	color: #B7C5FB;
}

/* Section Divs */

#hdln-aboutMe,
#body-resume,
#body-portfolio,
#post-index,
#body-contact {
	display: none;
}

.hdln {
	font-weight: 300;
	font-size: 1.75em;
	margin: 6px 0px;
	color: white;
	text-align: center;
}

#hdln-aboutMe {
	background-color: #AD3C1A;
	padding: 8px;
}

#body-aboutMe {
	background-color: #AD3C1A;
	padding: 0px 16px 0px 0px;
}

#body-aboutMe h2 {
	font-weight: 300;
	color: white;
	text-align: center;
}

#hdln-resume {
	background-color: #6C89FB;
	padding: 8px;
}

#body-resume {
	display: none;
	background-color: #6C89FB;
	padding: 8px;
}

#hdln-portfolio {
	background-color: #34590F;
	padding: 8px;
}

#body-portfolio {
	display: none;
	background-color: #34590F;
	padding: 8px 16px 8px 16px;
	text-align: center;
}

#prt_witte,
#prt_simon,
#prt_weather,
#prt_trump {
	display: none;
}

#prt_witte-768,
#prt_simon-768,
#prt_weather-768,
#prt_trump-768 {
	display: block;
}

#body-portfolio h4 {
	margin-bottom: 18px;
	color: white;
	font-weight: 300px;
}

#hdln-blog {
	background-color: #E25A31;
	padding: 8px;
}

#post-index {
	background-color: #E25A31;
	padding: 8px;
}

#body-contact {
	display: none;
	text-align: center;
}
#body-contact a {
	text-decoration: none;
	color:white;
	font-size: 2.5em;
	margin: 0px 18px;
}

#body-contact a:hover {
	text-shadow: 8px 8px 8px #35437C;
	font-size: 3.5em;
}

/* Additional universal styles */

.wrapper {
    margin: 0px 12px 8px 8px;
    padding: 8px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 12px;
}

.badge {
	background-color: #4B5FAF;
}

.fa-port {
	position: relative;
	top: 120px;
}

.ltBlue {
	background-color: #B7C5FB;
}

/*Default values for XS media queries*/
#logo {display:none;}
#logo_ds {display:block;}
#body-aboutMe.row { padding: 0px; margin-bottom: 0px; }
#jrlPhoto { padding: 0px; margin: 0px; overflow: hidden; }
#jrlPhoto1 {display:inline-block; position: relative;}
#jrlPhoto2 {display:none;}
#jrlPhoto3 {display:none;}
#hd_sl {display:none;}
#me_hdln, #me_hr {margin-left: 16px;}
#me_desc {margin: 16px; font-weight: 300; color: white;}

/*Small devices (landscape phones, 34em and up)*/
@media (min-width: 34em) {
	#logo {display:none;}
	#logo_ds {display:block;}
	#jrlPhoto1 {display:block;}
	#jrlPhoto2 {display:none;}
	#jrlPhoto3 {display:none;}
	#header1 {display: none;}
	#header2 {display:block;}
	
	#hd_sl {display:none;}

	#me_hdln {margin: 16px;}

	#me_desc {
		margin: 16px;
		font-weight: 300;
		color: white;	
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
		-webkit-column-gap: 32px; /* Chrome, Safari, Opera */
		-moz-column-gap: 32px; /* Firefox */
		column-gap: 32px;
	    -webkit-column-rule: 1px solid #E25A31; /* Chrome, Safari, Opera */
	    -moz-column-rule: 1px solid #E25A31; /* Firefox */
	    column-rule: 1px solid #E25A31;
	}
}

/*Medium devices (tablets, 48em and up)*/
@media (min-width: 48em) {
	#logo {display:block;}
	#logo_ds {display:none;}
	#jrlPhoto1 {display:none;}
	#jrlPhoto2 {display:block; margin-bottom: -16px;}
	#jrlPhoto3 {display:none;}
	#header1 {display: none;}
	#header2 {display:block;}

	#me_hdln {margin: 16px 16px 16px -132px;}

	#me_hr {margin-left: -132px;}

	#me_desc {
		margin: 16px 16px 16px -132px;
		font-weight: 300;
		color: white;	
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
		-webkit-column-gap: 32px; /* Chrome, Safari, Opera */
		-moz-column-gap: 32px; /* Firefox */
		column-gap: 32px;
	    -webkit-column-rule: 1px solid #E25A31; /* Chrome, Safari, Opera */
	    -moz-column-rule: 1px solid #E25A31; /* Firefox */
	    column-rule: 1px solid #E25A31;
	}

	#prt_witte,
	#prt_simon,
	#prt_weather,
	#prt_trump {
		display: block;
	}

	#prt_witte-768,
	#prt_simon-768,
	#prt_weather-768,
	#prt_trump-768 {
		display: none;
	}
}

/*Large devices (desktops, 62em and up)*/
@media (min-width: 62em) {
	#logo {display:block;}
	#logo_ds {display:none;}
	#jrlPhoto1 {display:none;}
	#jrlPhoto2 {display:none;}
	#jrlPhoto3 {display:block;}
	#header1 {display: none;}
	#header2 {display:block;}
	.hdln { font-size: 3.0em; }

	#body-aboutMe { padding-right: 64px; }

	#me_hdln {margin: 16px 32px 16px -148px;}

	#me_hr {margin-left: -132px;}

	#me_desc {
		margin: 16px 16px 16px -132px;
		font-weight: 300;
		color: white;	
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
		-webkit-column-gap: 32px; /* Chrome, Safari, Opera */
		-moz-column-gap: 32px; /* Firefox */
		column-gap: 32px;
	    -webkit-column-rule: 1px solid #E25A31; /* Chrome, Safari, Opera */
	    -moz-column-rule: 1px solid #E25A31; /* Firefox */
	    column-rule: 1px solid #E25A31;
	}

}

/*Extra large devices (large desktops, 75em and up)*/
@media (min-width: 75em) {
	#logo {display:block;}
	#logo_ds {display:none;}
	#jrlPhoto1 {display:none;}
	#jrlPhoto2 {display:none;}
	#jrlPhoto3 {display:block;}
	#header1 {display: none;}
	#header2 {display:block;}

	#me_hdln {margin: 16px 16px 16px -132px;}

	#me_hr {margin-left: -132px;}

	#me_desc {
		margin: 16px 16px 16px -132px;
		font-weight: 300;
		color: white;	
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
		-webkit-column-gap: 32px; /* Chrome, Safari, Opera */
		-moz-column-gap: 32px; /* Firefox */
		column-gap: 32px;
	    -webkit-column-rule: 1px solid #E25A31; /* Chrome, Safari, Opera */
	    -moz-column-rule: 1px solid #E25A31; /* Firefox */
	    column-rule: 1px solid #E25A31;
	}

}