body {
	background-color: #4C6A92;
}

.wrapper{
	width:50%;
	padding: 16px;
}

.warning {
	font-style: italic;
	color: red;
}

.input-group {
	margin-bottom: 12px;
}

.dateTime {
	font-size: 1em;
	color: #153A6B;
	font-weight: 100;
	margin: 0px 0px 8px 8px;
}

.btn-danger {
	float: right;
	position: relative;
	top: -30px;
}